header {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header div {
	float: right;
	margin-top: 50px;
	font-size: 72px;
	margin-bottom: -19px;
}

main {
	clear: both;
}

nav {
	background-color: black;
}

nav ul {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

nav ul li {
	display: inline-block;
	font-size: 30px;
	padding: 10px 10px 5px;
}

nav ul ul {
	position: absolute;
	margin-top: 5px;
	width: 181px;
}

nav ul li ul li {
	display: block;
	width: 181px;
	background-color: black;
	font-size: 20px;
	padding: 2px 10px;
	position: relative;
	left: -10px;
	border-top: 1px solid white;
}

nav ul li ul li:last-child {
	border-bottom: 1px solid white;
}

footer {
	margin-left: auto;
	margin-right: auto;
	width: 230px;
	color: white;
	background-color: black;
	margin-top: 40px;
	padding: 10px;
	font-size: 12px;
}

img {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#mainCanvas {
	display: block;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#content {
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.contentblock {
	border: 40px solid black;
	padding: 20px;
}

.contentblock p {
	font-family: Corbel;
}

.bar {
	display: block;
	background: black;
	width: 40px;
	height: 60px;
}

.bar : first-child {
	margin-left: auto;
	margin-right: auto;
}

.bar : nth-child(2n+3) {
	position: relative;
	left: 200px;
}

.bar : nth-child(2n+2) {
	position: relative;
	right: 200px;
}

.about {
	color: #b3b3b3;
}

p.about {
	color: black;
	background-color: #b3b3b3;
	display: inline-block;
	padding: 15px;
}
